.idea/
ETHGlobal_Paris_project.iml
package-lock.json

smart_contract/node_modules
smart_contract/.env
smart_contract/coverage
smart_contract/coverage.json
smart_contract/typechain
smart_contract/typechain-types

# Hardhat files
smart_contract/cache
smart_contract/artifacts

smart_contract/hardhat.config.ts
