<router-outlet></router-outlet>

<div class="header">
  <div class="application-name">Data Validator</div>
  <div class="contacts"></div>
</div>
<div class="main-container">
  <div class="entry-text">Verification Steps:</div>
  <div class="validity-chain">
    <div class="verification-step">
      <div class="verification-step-name">
        Choose the data
      </div>
      <div class="verification-step-inputs-container">
        <div class="validation-input-field">
          <div class="custom-select">
            <select>
              <option value="1">
                ETH is better than BTC
              </option>
              <option value="2">
                JS is the best programming language
              </option>
              <option value="3">
                Putin is terrorist
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="verification-step">
      <div class="verification-step-name">
        Validation parameters
      </div>
      <div class="validation-input-field"></div>
      <div class="validation-input-field"></div>
    </div>
    <div class="verification-step">
      <div class="verification-step-name">
        Choose the data
      </div>
    </div>
  </div>
</div>
